@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.noselect {
  font-family: 'VCR OSD Mono', sans-serif;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
  cursor: none;
  font-size: 5rem;
}
.sussy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 19rem;
}
.sus {
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 2rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
  cursor: none;
}

.navfont {
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 2rem;
}

#about-heading {
  padding-left: 2rem;
}
.content {
  padding: 2rem;
  font-family: 'VCR OSD Mono', sans-serif;
}